@font-face{
	font-family: "digital";
	src:url("../assets/font/digital-7.eot?#iefix");
	src:url("../assets/font/digital-7.eot?#iefix") format("eot"),
			url("../assets/font/digital-7.woff") format("woff"),
			url("../assets/font/digital-7.ttf") format("truetype"),
			url("../assets/font/digital-7.svg#digital-7") format("svg");
	font-weight: normal;
	font-style: normal;
}