<div id="wrapper">
	<div class="clock">
    <div id="sixty" class="fiveminutes"></div>
    <div id="one" class="minutes"></div>
    <div id="two" class="minutes"></div>
    <div id="three" class="minutes"></div>
    <div id="four" class="minutes"></div>
    <div id="five" class="fiveminutes"></div>
    <div id="six" class="minutes"></div>
    <div id="seven" class="minutes"></div>
    <div id="eight" class="minutes"></div>
    <div id="nine" class="minutes"></div>
    <div id="ten" class="fiveminutes"></div>
   	<div id="eleven" class="minutes"></div>
    <div id="twelve" class="minutes"></div>
    <div id="thirteen" class="minutes"></div>
    <div id="fourteen" class="minutes"></div>
    <div id="fifteen" class="fiveminutes"></div>
    <div id="sixteen" class="minutes"></div>
    <div id="seventeen" class="minutes"></div>
    <div id="eighteen" class="minutes"></div>
    <div id="nineteen" class="minutes"></div>
    <div id="twenty" class="fiveminutes"></div>
    <div id="twentyone" class="minutes"></div>
    <div id="twentytwo" class="minutes"></div>
    <div id="twentythree" class="minutes"></div>
    <div id="twentyfour" class="minutes"></div>
    <div id="twentyfive" class="fiveminutes"></div>
    <div id="twentysix" class="minutes"></div>
    <div id="twentyseven" class="minutes"></div>
    <div id="twentyeight" class="minutes"></div>
    <div id="twentynine" class="minutes"></div>
    <div id="thirty" class="fiveminutes"></div>
    <div id="thirtyone" class="minutes"></div>
    <div id="thirtytwo" class="minutes"></div>
    <div id="thirtythree" class="minutes"></div>
    <div id="thirtyfour" class="minutes"></div>
    <div id="thirtyfive" class="fiveminutes"></div>
    <div id="thirtysix" class="minutes"></div>
    <div id="thirtyseven" class="minutes"></div>
    <div id="thirtyeight" class="minutes"></div>
    <div id="thirtynine" class="minutes"></div>
    <div id="fourty" class="fiveminutes"></div>
    <div id="fourtyone" class="minutes"></div>
    <div id="fourtytwo" class="minutes"></div>
    <div id="fourtythree" class="minutes"></div>
    <div id="fourtyfour" class="minutes"></div>
    <div id="fourtyfive" class="fiveminutes"></div>
    <div id="fourtysix" class="minutes"></div>
    <div id="fourtyseven" class="minutes"></div>
    <div id="fourtyeight" class="minutes"></div>
    <div id="fourtynine" class="minutes"></div>
    <div id="fifty" class="fiveminutes"></div>
    <div id="fiftyone" class="minutes"></div>
    <div id="fiftytwo" class="minutes"></div>
    <div id="fiftythree" class="minutes"></div>
    <div id="fiftyfour" class="minutes"></div>
    <div id="fiftyfive" class="fiveminutes"></div>
    <div id="fiftysix" class="minutes"></div>
    <div id="fiftyseven" class="minutes"></div>
    <div id="fiftyeight" class="minutes"></div>
    <div id="fiftynine" class="minutes"></div>
    <div id="numbertwelve" class="numbers">12</div>
    <div id="numberone" class="numbers">1</div>
    <div id="numbertwo" class="numbers">2</div>
    <div id="numberthree" class="numbers">3</div>
    <div id="numberfour" class="numbers">4</div>
    <div id="numberfive" class="numbers">5</div>
    <div id="numbersix" class="numbers">6</div>
    <div id="numberseven" class="numbers">7</div>
    <div id="numbereight" class="numbers">8</div>
    <div id="numbernine" class="numbers">9</div>
    <div id="numberten" class="numbers">10</div>
    <div id="numbereleven" class="numbers">11</div>

    <p ng-if="main.aa" class="format-analog">{{main.aa}}</p>

    <div id="hourhand" ng-style="main.hours"></div>
    <div id="minhand" ng-style="main.mins"></div>
    <div id="sechand" ng-style="main.secs"></div>


    <div id="centerPoint"></div>
	</div> 
</div>
